@model IEnumerable<miguel.Models.Dominio.Estoque>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<nav class="black">
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="Custo">Custo</a></li>
            <li><a href="Ordem">Ordens</a></li>
            <li><a href="Estoque">Estoque</a></li>
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.descricao)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.quantidade)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.valor)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.descricao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.quantidade)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.valor)
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary"><a asp-action="Edit" asp-route-id="@item.id">Edit</a>  </button>
                                <button type="button" class="btn btn-light"><a asp-action="Details" asp-route-id="@item.id">Detalhes</a>  </button>|
                                <button type="button" class="btn btn-danger"><a asp-action="Delete" asp-route-id="@item.id">Deletar</a>  </button>
                        </tr>
                    }
                </tbody>
            </table>
